<% var t = window.I18N[window.currentLang]["dashboardView"] %>
<div class="container-fluid" style="padding-right:90px; margin-top:40px;">
    <!-- Page Heading -->
    <h3 class="page-header">
            <%= t["dashboard"] %>
        </h3>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["recipe"] %></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <form class="form-horizontal" role="form">
                                <div class="form-group" style="margin-bottom:-5px;">

                                    <!-- file select -->
                                    <!-- <input type="file" id="select-recipe" name="file" style="display:none;"> -->
                                    <!-- file select -->

                                    <div class="input-group col-xs-offset-1">
                                        <input type="text" class="form-control input-lg" id="recipeModal" placeholder="<%= t['select_recipe'] %>">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-lg" type="button" id="loadrecipe_btn"><%= t["load"] %></button>
                                        </span>
                                    </div><br>
                                    <!--<div class="col-sm-8" style="padding-right:4px;">-->
                                    <!--<input type="text" class="form-control" id="recipe" placeholder="Select a recipe" readonly>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2" style="padding-left:0px;">-->
                                    <!--<button class="btn btn-default">Load</button>-->
                                    <!--</div>-->
                                <!-- </div>
                                <div class="form-group"> -->
                                    <!--<label class="control-label col-xs-2" for="recipe">&nbsp;</label>-->
                                    <!-- <div class="input-group2"> -->
                                    <!-- <label class="control-label col-xs-2" for="recipe">&nbsp;</label> -->
                                    <!--<div class="input-group">-->
                                        <!--<button class="btn btn-default h-spacer" id="start_recipe"><%= t["start_recipe"] %></button>-->
                                        <!--<button class="btn btn-default" id="stop_recipe"><%= t["stop_recipe"] %></button>-->
                                    <!--</div>-->
                                    <!-- <br> -->
                                    <div class="col-xs-offset-1">
                                        <div class="col-xs-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group" style="margin:auto;">
                                                        <button class="btn btn-default btn-lg btn-block h-spacer" id="startrecipe_btn"><%= t["start_recipe"] %></button><br>
                                                        <button class="btn btn-default btn-lg btn-block h-spacer" id="stoprecipe_btn"><%= t["stop_recipe"] %></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="panel panel-default">
                                            <div class="panel-body">
                                              <div class="form-group" style="margin:auto;">
                                                <button class="btn btn-default btn-lg btn-block h-spacer" id="home_btn"><%= t["home"] %></button><br>
                                                <button class="btn btn-default btn-lg btn-block h-spacer" id="recover_btn"><%= t["recover"] %></button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>         
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["speed"] %></h3>
                </div>
                <div class="panel-body" style="height:211px">
                    <div class="form-group">
                        <!-- <label class="control-label col-xs-2"><%= t["speed"] %></label> -->
                        <div>
                            <button class="btn btn-default btn-lg btn-block h-spacer" id="speed_slow_btn"><%= t["slow"] %></button><br>
                            <button class="btn btn-default btn-lg btn-block h-spacer" id="speed_medium_btn"><%= t["medium"] %></button><br>
                            <button class="btn btn-default btn-lg btn-block h-spacer" id="speed_high_btn"><%= t["high"] %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["online_status"] %>
                        <!-- <%= t["system_status"] %> -->
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="hero-unit" style="height:auto; text-align:center;">
                       <!-- <div class="col-xs-4">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-lg btn-danger" disabled="disabled"><%= t["error"] %></button>
                                <button type="button" class="btn btn-lg btn-warning" disabled="disabled"><%= t["warning"] %></button>
                                <button type="button" class="btn btn-lg btn-success"><%= t["normal"] %></button>
                                <button type="button" class="btn btn-lg btn-default" disabled="disabled"><%= t["idle"] %>&nbsp;</button>
                            </div>
                        </div> -->
                        <div>
                            <div class="btn-group-vertical btn-block" data-toggle="buttons">
                                <label class="btn btn-default btn-lg active" style="border:none;">
                                    <input type="radio" name="secs" value="online_local"><%= t["online_local"] %><br>
                                </label>
                                <label class="btn btn-default btn-lg" style="border:none;">
                                    <input type="radio" name="secs" value="online_remote"><%= t["online_remote"] %><br>
                                </label>
                                <label class="btn btn-default btn-lg" style="border:none;">
                                    <input type="radio" name="secs" value="offline"><%= t["offline"] %>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["system_status"] %></h3>
                </div>
                <div class="panel-body">
                    <div class="hero-unit" style="height:200px;">
                        <div class="col-xs-6">
                            <table class="table-bordered table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th>Tool</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="success">
                                    <td>Robot</td>
                                    <td align="center"><span class="fa fa-fw fa-check-circle" style="color:green; text-align: center;"></span></td>
                                </tr>
                                <tr>
                                    <td>Input1</td>
                                    <td align="center"><span class="fa fa-fw fa-check-circle" style="color:green; text-align: center;"></span></td>
                                </tr>
                                <tr>
                                    <td>Input2</td>
                                    <td align="center"><span class="fa fa-fw fa-check-circle" style="color:green; text-align: center;"></span></td>
                                </tr>
                                <tr>
                                    <td>Aligner</td>
                                    <td align="center"><span class="fa fa-fw fa-check-circle" style="color:green; text-align: center;"></span></td>
                                </tr>
                                <tr>
                                    <td>Camera</td>
                                    <td align="center"><span class="fa fa-fw fa-check-circle" style="color:green; text-align: center;"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            status 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["system_message"] %></h3>
                </div>
                <div class="panel-body-sysmsg">
                    <div class="row" style="padding-left:10px">
                        <code name="sysmsg"  style="padding-left: 0px;">
                            <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= sysmsg %>
                            <!--</textarea>-->
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["system_message"] %></h3>
                </div>
                <div class="panel-body-sysmsg">
                    <div class="row" style="padding-left:10px">
                        <code name="sysmsg"  style="padding-left: 0px;">
                            <%= sysmsg %>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>  <!-- /.container-fluid -->

<!-- Recipe Modal -->
<div id="Modal-recipe" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-lg" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                <h4 class="modal-title"><%= t["select_recipe"] %></h4>
            </div>
            <div class="modal-body" style="y-overflow:scroll">
                <table class="table">
                    <tbody>
                        <tr class="recipe-name">
                            <td><h2>Recipe 1</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 2</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 3</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 4</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 5</h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg recipe-done" data-dismiss="modal"><%= t["done"] %></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->