<% var t = window.I18N[window.currentLang]["dashboardView"] %>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">
                <%= t["command"] %>
            </h3>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["command"] %></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="recipe"><%= t["recipe"] %></label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="recipe" placeholder="<%= t['select_recipe'] %>" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><%= t["load"] %></button>
                            </span>
                                    </div>

                                    <!--<div class="col-sm-8" style="padding-right:4px;">-->
                                    <!--<input type="text" class="form-control" id="recipe" placeholder="Select a recipe" readonly>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2" style="padding-left:0px;">-->
                                    <!--<button class="btn btn-primary">Load</button>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="recipe">&nbsp;</label>

                                    <div class="input-group">
                                        <button class="btn btn-primary h-spacer"><%= t["start_recipe"] %></button>
                                        <button class="btn btn-primary"><%= t["stop_recipe"] %></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["system_status"] %></h3>
                </div>
                <div class="panel-body">
                    <div class="hero-unit" style="height:260px;">
                        <div style="float:left; padding-left:50px;">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-lg btn-danger" disabled="disabled"><%= t["error"] %></button>
                                <button type="button" class="btn btn-lg btn-warning" disabled="disabled"><%= t["warning"] %></button>
                                <button type="button" class="btn btn-lg btn-success"><%= t["normal"] %></button>
                                <button type="button" class="btn btn-lg btn-primary" disabled="disabled"><%= t["idle"] %>&nbsp;</button>
                            </div>
                        </div>
                        <div style="padding-top:0px;padding-left:300px;">
                            <img src="img/machine-diagram.jpg"
                                 alt="" width="266" height="226">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= t["system_message"] %></h3>
                </div>
                <div class="panel-body-sysmsg">
                    <div class="row">
                        <code name="sysmsg">
                            <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= sysmsg %>
                            <!--</textarea>-->
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
