<% var t = window.I18N[window.currentLang]["headerView"] %>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <!--<img class="navbar-brand-logo" src="img/qm-logo.png"><a class="navbar-brand" href="index.html"></a>-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"><%= t["toggle_navigation"] %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu message-dropdown">-->
                <!--<li class="message-preview">-->
                    <!--<a href="#">-->
                        <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                            <!--<div class="media-body">-->
                                <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                <!--</h5>-->
                                <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="message-preview">-->
                    <!--<a href="#">-->
                        <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                            <!--<div class="media-body">-->
                                <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                <!--</h5>-->
                                <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="message-preview">-->
                    <!--<a href="#">-->
                        <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                            <!--<div class="media-body">-->
                                <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                <!--</h5>-->
                                <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="message-footer">-->
                    <!--<a href="#"><%= t["read_messages"] %></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu alert-dropdown">-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="#"><%= t["view_all"] %></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> <%= t["profile"] %></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> <%= t["inbox"] %></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> <%= t["settings"] %></a>
                </li>

                <li class="help">
                  <a href="/ui/help/index.htm" target="_blank"><i class="fa fa-fw fa-exclamation-circle"></i> <%= t["help"] %></a>
                </li>

                <li class="divider"></li>
                <li>
                    <a id="logout" href="#"><i class="fa fa-fw fa-power-off"></i> <%= t["logout"] %></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dashboard-menu">
                <a href="#dashboard"><i class="fa fa-fw fa-dashboard"></i> <%= t["dashboard"] %></a>
            </li>

            <% if (localStorage.userRole == 'operator') { %>
              <% var userRoleClassName = " operatorRole"; %>
            <% } else { %>
              <% var userRoleClassName = '' %>
            <% } %>

            <% if (localStorage.userRole !== 'operator') { %>
              <li class="robot-menu <%= userRoleClassName %>">
                <a href="#robot"><i class="fa fa-fw fa-server"></i> <%= t["robot"] %></a>
              </li>
            <% } %>

              <% var types = ['input','output','aligner', 'loadport', 'reader']; %>

              <% var type = types.shift(); %>
              <% while (type) { %>
                  <% var inputs = window.iniCfg[type] %>
                  <% if (inputs) { %>
                  <% var keys = _.keys(inputs); %>
                  <% var type = 'input'; %>
                  <%  for (var i=0; i < keys.length; i++) { %>
                  <!--<%      console.log('input key:'+keys[i]+' value:'+inputs[keys[i]]); %>-->

            <% if (localStorage.userRole !== 'operator') { %>
                  <li class="contact-menu <%= userRoleClassName %>" >
                    <a href="#contact"><i class="fa fa-fw <%= tabMapFontAwesome[type] %>"></i> <%= inputs[keys[i]] %></a>
                  </li>
            <% } %>

                  <%  } %>
                  <% } %>
              <% type = types.shift(); %>
              <% } %>



<!--
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-caret-square-o-right"></i> <%= t["input1"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-caret-square-o-right"></i> <%= t["input2"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-caret-square-o-left"></i> <%= t["output1"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-caret-square-o-left"></i> <%= t["output2"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-align-justify"></i> <%= t["aligner"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-upload"></i> <%= t["load_port"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-barcode"></i> <%= t["reader1"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-cogs"></i> <%= t["process1"] %></a>
            </li>
            <li class="contact-menu">
                <a href="#contact"><i class="fa fa-fw fa-list-ol"></i> <%= t["recipe"] %></a>
            </li>
-->
            <% if (localStorage.userRole !== 'operator') { %>
              <li class="config-menu <%= userRoleClassName %>">
                <a href="#config"><i class="fa fa-fw fa-sliders"></i> <%= t["config"] %></a>
              </li>
            <% } %>

            <!--<li>-->
                <!--<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-wrench"></i> <%= t["tools"] %><i class="fa fa-fw fa-caret-down"></i></a>-->
                <!--<ul id="demo" class="collapse">-->
                    <!--<li class="botcom-menu">-->
                        <!--<a href="#botcom"><i class="fa fa-fw fa-lightbulb-o"></i> Botcom</a>-->
                    <!--</li>-->
                    <!--<li class="contact-menu">-->
                        <!--<a href="#contact"><i class="fa fa-fw fa-bar-chart-o"></i> Contacts</a>-->
                    <!--</li>-->
                    <!--<li class="charts-menu">-->
                        <!--<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="login.html"><i class="fa fa-fw fa-file"></i> Login Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!--<div class="navbar navbar-fixed-top">-->
    <!--<div class="navbar-inner">-->
        <!--<div class="container">-->

            <!--<a class="brand" href="#">Backbone Directory</a>-->

            <!--<div class="nav-collapse">-->
                <!--<ul class="nav">-->
                    <!--<li class="home-menu active"><a href="#">Home</a></li>-->
                    <!--<li class="contact-menu"><a href="#contact">Contact</a></li>-->
                <!--</ul>-->
                <!--<form class="navbar-search pull-right dropdown">-->
                    <!--<input id="searchText" type="text" class="search-query dropdown-toggle" placeholder="Search" autocomplete="off">-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
