<% var t = window.I18N[window.currentLang]["headerView"]; %>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <!--<img class="navbar-brand-logo" src="img/qm-logo.png"><a class="navbar-brand" href="index.html"></a>-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"><%= t["toggle_navigation"] %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> <%= t["profile"] %></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> <%= t["inbox"] %></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> <%= t["settings"] %></a>
                </li>
                <li class="help">
                  <a href="/ui/help/index.htm" target="_blank"><i class="fa fa-fw fa-exclamation-circle"></i> <%= t["help"] %></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a id="logout" href="#"><i class="fa fa-fw fa-power-off"></i> <%= t["logout"] %></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dashboard-menu">
                <a href="#dashboard"><i class="fa fa-fw fa-dashboard"></i> <%= t["dashboard"] %></a>
            </li>
            <% if (localStorage.userRole == 'operator') { %>
              <% var userRoleClassName = " operatorRole"; %>
            <% } else { %>
              <% var userRoleClassName = '' %>
            <% } %>
            <% if (true || localStorage.userRole !== 'operator') { %>
            <li class="robot-menu <%= userRoleClassName %>">
                <a href="#robot"><i class="fa fa-fw fa-server"></i> <%= t["robot"] %></a>
            </li>
            <% } %>

              <% var types = ['input','output','aligner', 'recipe', 'transfer','packer','loadport','log']; %>

              <% var type = types.shift(); %>
              <% while (type) { %>
                  <% var inputs = window.iniCfg[type] %>
                  <% if (inputs) { %>
                  <% var keys = _.keys(inputs); %>
                  <%  for (var i=0; i < keys.length; i++) { %>
                  <!--<%      console.log('input key:'+keys[i]+' value:'+inputs[keys[i]]); %>-->

            <% if (true || localStorage.userRole !== 'operator') { %>
                  <li class="<%= inputs[keys[i]] %>-menu <%= userRoleClassName %>" >
                    <a href="#<%= inputs[keys[i]] %>"><i class="fa fa-fw <%= tabMapFontAwesome[type] %>"></i><% var temp=inputs[keys[i]];%> <%= t[temp]%></a>
                  </li>
            <% } %>

                  <%  } %>
                  <% } %>
              <% type = types.shift(); %>
              <% } %>

            <% if (localStorage.userRole !== 'operator') { %>
              <li class="config-menu <%= userRoleClassName %>">
                <a href="#config"><i class="fa fa-fw fa-sliders"></i> <%= t["config"] %></a>
              </li>

            <% } %>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

    <div id="statusBar" class="btn-group-vertical" style="margin-top:500px;width:81px;height:81px;position:fixed;z-index:100">
        <button id="help" type="button" class="btn btn-default btn-ms btn-block" style="height:81px;"><i class="fa fa-question fa-2x" aria-hidden="true"></i><br> <%= t["help"]%></button>
    </div>
</nav>

<!-- Robot Help Modal -->

<div id="helpModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content"  style="width:1000px; margin-left:-250px; height:1000px">
      <div class="modal-header">
        <button type="button" class="close btn-lg" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                <h4 class="modal-title">User Manual.</h4>
      </div>
      <div class="modal-body" style="height:1000px">
          <iframe id="helpIframe" src="" style="zoom:0.60" frameborder="0" height="90%" width="99.6%"></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
