<% var t = window.I18N[window.currentLang]["configView"] %>

<div class="row">
    <div class="col-xs-12">
        <h3 class="page-header">
            <!--<%= t["config_title"] %>-->
            Input Station 1
        </h3>
        <div class="row">
            <div class="col-xs-4">
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">Station</label>
                            <div class="col-xs-6">
                                <select class="form-control">
                                    <option>INPUT_1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">Level</label>
                            <div class="col-xs-6">
                                <select class="form-control">
                                    <option>1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-6 text-right" style="text-align:left;"><span>Cassette Type</span></label>
                            <div class="col-xs-6">
                                <select class="form-control cassette-type">
                                    <option>Standard</option>
                                    <option>Thin</option>
                                    <option>Thick</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-6 text-right" style="text-align:left;">FOUP</label>
                            <div class="col-xs-6">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="openFoup" type="button">Open FOUP</button>
                                </div>
                                <div>&nbsp;</div>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="closeFoup" type="button">Close FOUP</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-6 text-right" style="text-align:left;">CASETTE</label>
                            <div class="col-xs-6">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="loadCasette" type="button">LOAD CASETTE</button>
                                </div>
                                <div>&nbsp;</div>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="unloadCasette" type="button">UNLOAD CASETTE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6 text-right" style="text-align:left;">DOOR</label>
                            <div class="col-xs-6">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="openDoor" type="button">OPEN DOOR</button>
                                </div>
                                <div>&nbsp;</div>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="closeDoor" type="button">CLOSE DOOR</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6 text-right" style="text-align:left;">DATA</label>
                            <div class="col-xs-6">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" id="restoreData" type="button">RESTORE DATA</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-4">
                <table class="table table-condensed wafer-slots">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>SLOTS</th>
                        </tr>
                    </thead>
                    <tbody id="slots">
                        <tr id="slot25">
                            <th scope="row">25</th>
                            <td></td>
                        </tr>
                        <tr id="slot24">
                            <th scope="row">24</th>
                            <td></td>
                        </tr>
                        <tr id="slot23">
                            <th scope="row">23</th>
                            <td></td>
                        </tr>
                        <tr id="slot22">
                            <th scope="row">22</th>
                            <td></td>
                        </tr>
                        <tr id="slot21">
                            <th scope="row">21</th>
                            <td></td>
                        </tr>
                        <tr id="slot20">
                            <th scope="row">20</th>
                            <td></td>
                        </tr>
                        <tr id="slot19">
                            <th scope="row">19</th>
                            <td></td>
                        </tr>
                        <tr id="slot18">
                            <th scope="row">18</th>
                            <td></td>
                        </tr>
                        <tr id="slot17">
                            <th scope="row">17</th>
                            <td></td>
                        </tr>
                        <tr id="slot16">
                            <th scope="row">16</th>
                            <td></td>
                        </tr>
                        <tr id="slot15">
                            <th scope="row">15</th>
                            <td></td>
                        </tr>
                        <tr id="slot14">
                            <th scope="row">14</th>
                            <td></td>
                        </tr>
                        <tr id="slot13">
                            <th scope="row">13</th>
                            <td></td>
                        </tr>
                        <tr id="slot12">
                            <th scope="row">12</th>
                            <td></td>
                        </tr>
                        <tr id="slot11">
                            <th scope="row">11</th>
                            <td></td>
                        </tr>
                        <tr id="slot10">
                            <th scope="row">10</th>
                            <td></td>
                        </tr>
                        <tr id="slot9">
                            <th scope="row">9</th>
                            <td></td>
                        </tr>
                        <tr id="slot8">
                            <th scope="row">8</th>
                            <td></td>
                        </tr>
                        <tr id="slot7">
                            <th scope="row">7</th>
                            <td></td>
                        </tr>
                        <tr id="slot6">
                            <th scope="row">6</th>
                            <td></td>
                        </tr>
                        <tr id="slot5">
                            <th scope="row">5</th>
                            <td></td>
                        </tr>
                        <tr id="slot4">
                            <th scope="row">4</th>
                            <td></td>
                        </tr>
                        <tr id="slot3">
                            <th scope="row">3</th>
                            <td></td>
                        </tr>
                        <tr id="slot2">
                            <th scope="row">2</th>
                            <td></td>
                        </tr>
                        <tr id="slot1">
                            <th scope="row">1</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-4">
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">GET STANDARD</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="getStandard" type="button">GET STANDARD</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">PUT STANDARD</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="putStandard" type="button">PUT STANDARD</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">MAP STANDARD</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="mapStandard" type="button">MAP STANDARD</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">GET WRAP BELOW</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="getWrapBelow" type="button">GET WRAP BELOW</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">PUT WRAP BELOW</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="putWrapBelow" type="button">PUT WRAP BELOW</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">MAP WRAP BELOW</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="mapWrapBelow" type="button">MAP WRAP BELOW</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">GET WRAP ABOVE</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="getWrapAbove" type="button">GET WRAP ABOVE</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">PUT WRAP ABOVE</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="putWrapAbove" type="button">PUT WRAP ABOVE</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-6" style="text-align:left;">MAP WRAP ABOVE</label>
                            <div class="col-xs-6">
                                <button class="btn btn-default btn-sm" id="mapWrapAbove" type="button">MAP WRAP ABOVE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
