<% var t = window.I18N[window.currentLang]["loadportView"] %>
<div class="container-fluid" style="padding-right:90px; margin-top:40px;">
  <h3 class="page-header">
    <!-- <%= t["robot_title"] %>  -->
    LoadPort
  </h3>
    <div class="row">
        <div class="container-fluid">
            <div class="row">       
                <div class="col-xs-6" style="Height:94%">
					<div class="panel panel-default" style="margin:0;">   
						<div class="panel-body" style="padding:0;">    
							<div class="btn-group col-xs-12" data-toggle="buttons" style="padding:0;">
								<label class="btn btn-default /*btn-lg*/ col-xs-3 active">
									<input type="radio" name="PORT_DEFINED" value=1 checked><span style = "font-size : 1vw;"><%= t["btn_chg_PORT1"]%></span>
								</label>
								<label class="btn btn-default /*btn-lg*/ col-xs-3" style="margin-left:0px;">
									<input type="radio" name="PORT_DEFINED" value=2><span style = "font-size : 1vw;"><%= t["btn_chg_PORT2"]%></span>
								</label>
								<label class="btn btn-default /*btn-lg*/ col-xs-3" style="margin-left:0px;">
									<input type="radio" name="PORT_DEFINED" value=3><span style = "font-size : 1vw;"><%= t["btn_chg_PORT3"]%></span>
								</label>
								<label class="btn btn-default /*btn-lg*/ col-xs-3" style="margin-left:0px;">
									<input type="radio" name="PORT_DEFINED" value=4><span style = "font-size : 1vw;"><%= t["btn_chg_PORT4"]%></span>
								</label>
							</div>
						</div>
					</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_COMMAND"]%></span></h3>
                        </div>
                        <div class="panel-body">
							<div class="row">
								<!-- <div class="row">&nbsp;</div> -->
								<div class="col-sm-4">
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_MANUAL_LOAD"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_PODCL"><span style = "font-size : 1vw;"><%= t["btn_mov_PODCL"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_YDOOR"><span style = "font-size : 1vw;"><%= t["btn_mov_YDOOR"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_VACON"><span style = "font-size : 1vw;"><%= t["btn_mov_VACON"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_DOROP"><span style = "font-size : 1vw;"><%= t["btn_mov_DOROP"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_DORBK"><span style = "font-size : 1vw;"><%= t["btn_mov_DORBK"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_ZDRDW"><span style = "font-size : 1vw;"><%= t["btn_mov_ZDRDW"]%></span></button>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_INITIAL"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_ABORG"><span style = "font-size : 1vw;"><%= t["btn_mov_ABORG"]%></span></button>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="row">&nbsp;</div> -->
								<div class="col-sm-4">
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_MANUAL_UNLOAD"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_PODOP"><span style = "font-size : 1vw;"><%= t["btn_mov_PODOP"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_YWAIT"><span style = "font-size : 1vw;"><%= t["btn_mov_YWAIT"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_VACOF"><span style = "font-size : 1vw;"><%= t["btn_mov_VACOF"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_DORCL"><span style = "font-size : 1vw;"><%= t["btn_mov_DORCL"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_DORFW"><span style = "font-size : 1vw;"><%= t["btn_mov_DORFW"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_ZDRUP"><span style = "font-size : 1vw;"><%= t["btn_mov_ZDRUP"]%></span></button>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_GET_INFORMATION"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_get_STATE"><span style = "font-size : 1vw;"><%= t["btn_get_STATE"]%></span></button>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="row">&nbsp;</div> -->
								<div class="col-sm-4">
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_AUTO_LOAD_UNLOAD"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_set_FSBON"><span style = "font-size : 1vw;"><%= t["btn_set_FSBON"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_set_FSBOF"><span style = "font-size : 1vw;"><%= t["btn_set_FSBOF"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_CLOAD"><span style = "font-size : 1vw;"><%= t["btn_mov_CLOAD"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_CULOD"><span style = "font-size : 1vw;"><%= t["btn_mov_CULOD"]%></span></button>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<h3 class="panel-title"><span style = "font-size : 1vw;"><%= t["lbl_CONTROLS"]%></span></h3>
										<div class="panel-body">
											<div class="form-group" style="margin:auto;">
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_ABORT"><span style = "font-size : 1vw;"><%= t["btn_mov_ABORT"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_set_RESET"><span style = "font-size : 1vw;"><%= t["btn_set_RESET"]%></span></button>
												<br>
												<button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="btn_mov_ORGSH"><span style = "font-size : 1vw;"><%= t["btn_mov_ORGSH"]%></span></button>
											<div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="pnl_LOG_TITLE"><span style = "font-size : 1vw;">PORTID:1</span></h3>
                </div>
                <div class="panel-body panel-body-sysmsg" style="background-color:black;height: 540px;" id = "pnl_LOG_BODY_1">
                    <div class="row" name="PORT_LOG" value=1 style="padding-left: 10px;">
                        <code style="background-color:black; padding-left: 0px;">
                        <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= robotmsg %>
                        <!--</textarea>-->
                        </code>
                    </div>
                </div>
                <div class="panel-body panel-body-sysmsg" style="background-color:black;height: 540px;display:none" id = "pnl_LOG_BODY_2">
                    <div class="row" name="PORT_LOG" value=2 style="padding-left: 10px;">
                        <code style="background-color:black; padding-left: 0px;">
                        <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= robotmsg %>
                        <!--</textarea>-->
                        </code>
                    </div>
                </div>
                <div class="panel-body panel-body-sysmsg" style="background-color:black;height: 540px;display:none" id = "pnl_LOG_BODY_3">
                    <div class="row" name="PORT_LOG" value=3 style="padding-left: 10px;">
                        <code style="background-color:black; padding-left: 0px;">
                        <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= robotmsg %>
                        <!--</textarea>-->
                        </code>
                    </div>
                </div>
                <div class="panel-body panel-body-sysmsg" style="background-color:black;height: 540px;display:none" id = "pnl_LOG_BODY_4">
                    <div class="row" name="PORT_LOG" value=4 style="padding-left: 10px;">
                        <code style="background-color:black; padding-left: 0px;">
                        <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                            <%= robotmsg %>
                        <!--</textarea>-->
                        </code>
                    </div>
                </div>
            </div>

			<div class="form-group" style="margin-bottom:0px;padding:15px 0; background-color: #f5f5f5;">
				<div class="input-group col-xs-offset-2 col-xs-8">
					<input type="text" class="form-control" id="txt_COMMAND" style="text-transform:uppercase">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="btn_SEND"><span style = "font-size : 1vw;"><%= t["btn_SEND"]%></span></button>
						<button class="btn btn-default" type="button" id="btn_CLEAR"><span style = "font-size : 1vw;"><%= t["btn_CLEAR"]%></span></button>
					</span>
				</div>
			</div>
        </div>
    </div>
</div>

<!-- Robot Help Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <iframe id="myIframe" src="" style="zoom:0.60" frameborder="0" height="500" width="99.6%"></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.container-fluid -->