<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		language: 'en',
		weekStart: 1,
		todayBtn:  true,
		autoclose: true,
		todayHighlight: true,
		startView: 2,
		forceParse: true,
		showMeridian: true,
		format: 'yyyy-mm-dd hh:ii:ss',
        timezone: 'GMT',
	});
</script>
<% var t = window.I18N[window.currentLang]["logView"] %>
<div class="container-fluid" style="padding-right:90px; margin-top:40px;">
<p id="downloadify">You must have Flash 10 installed to download this file.</p>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">
            <%= t["log"] %>
            </h3>            
            <div class="row">
                 <div class = "row">
					<div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="logModal"><span style = "font-size : 1vw;"><%= t["find_log"]%></span></button>
                    </div>
					<div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-lg btn-block h-spacer" id="downloadLog"><span style = "font-size : 1vw;"><%= t["download"]%></span></button>
                    </div>
                </div>
                &nbsp;
				<div class = "row">
					<div class = "col-xs-3">
						<div class="form-group">
							<label class="control-label"><span style = "font-size : 1vw;">Start DateTime Input Field</span></label>
							<div class="input-group date form_datetime" data-link-field="txt_START_DATE">
								<input type="text" class="form-control" placeholder="Select a start datetime" id=txt_START_DATE>
								<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
					<div class = "col-xs-3">
						<div class="form-group">
							<label class="control-label"><span style = "font-size : 1vw;">End DateTime Input Field</span></label>
							<div class="input-group date form_datetime" data-link-field="txt_END_DATE">
								<input type="text" class="form-control" placeholder="Select a end datetime" id=txt_END_DATE>
								<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
					<div class = "col-xs-3">
						<div class="form-group">
							<label class="control-label" style="text-align:left;" id="lbl_SEARCH"><span style = "font-size : 1vw;">Search</span></label>
							<input type="search" class="form-control input-lg" id="txt_SEARCH" aria-controls="example">
						</div>
					</div>
                </div>
                <div class="row">
                    <!-- <div class="col-xs-2">
                        <div class="panel panel-default">
                            <div class="panel-heading input-group">
                                <h3 class="panel-title"><%= t["log_level"] %>Directory</h3>
                                <span class="input-group-btn" style="padding:0px; margin:0px; height:100%;">
                                    <button type="button" class="btn btn-default btn-xs pull-right" id="refresh-directory"><i class="fa fa-refresh"></i></button>
                                </span>
                            </div>
                            <div class="panel-body" id="show-log-directory" style="height:500px;">
                                Directory
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" id="show-log-file-title"><%= t["logfile_name"] %></h3>
                            </div>
                            <div class="panel-body-sysmsg" id="show-log-file" style="background-color:white;height:700px;"><p><%= t["show_log_file"] %></p>
                                <div class="row" style="padding-left:10px">
									<table class='table-condensed table-striped' id='html-log-table' style='width:100%;'>
									</table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Log Modal -->
<div id="Modal-log" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-lg" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                <h4 class="modal-title"><%= t["select_log"] %></h4>
            </div>
            <div class="modal-body" style="y-overflow:scroll" id="show-log-directory" style="height:500px;"><%= t["directory"] %>
                <!-- <table class="table">
                    <tbody>
                        <tr class="recipe-name">
                            <td><h2>Recipe 1</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 2</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 3</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 4</h2></td>
                        </tr>
                        <tr class="recipe-name">
                            <td><h2>Recipe 5</h2></td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal" id="done"><%= t["done"] %></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<a id="download" href="" download=""></a>