<% var t = window.I18N[window.currentLang]["robotView"] %>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
              <h3 class="page-header"><%= t["robot_title"] %></h3>

                <div class="col-xs-6">
                    <!--<div class="input-group  col-xs-12">-->
                        <!--<input type="text" class="form-control" placeholder="<%= t["search_for"] %>">-->
                        <!--<span class="input-group-btn">-->
                          <!--<button class="btn btn-default" type="button" id="go_btn"><%= t["go"] %></button>-->
                          <!--<button id="robotHelpModal" class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-question"></i>-->
                          <!--</button>-->
                        <!--</span>-->
                    <!--</div>-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= t["position"] %></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default" id="learn"><%= t["learn"] %></button>
                                    <button type="button" class="btn btn-default" id="learn_new"><%= t["learn_new"] %></button>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-default" id="refresh"><%= t["refresh"] %></button>
                                            <button type="button" class="btn btn-default" id="reset_f_12"><%= t["reset_f_12"] %></button>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-xs-1"></div> -->

                                <div class="col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-default" id="grip"><%= t["grip"] %></button>
                                            <button type="button" class="btn btn-default" id="ungrip"><%= t["ungrip"] %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>
                        </div>
                    </div>



                </div>

                <div class="col-xs-6">
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                          <!--<h3 class="panel-title"><%= t["position"] %></h3>-->
                        <!--</div>-->

                        <!--<div class="panel-body">-->
                          <!--<button type="button" class="btn btn-default" id="learn"><%= t["learn"] %></button>-->
                          <!--<button type="button" class="btn btn-default" id="learn_new"><%= t["learn_new"] %></button>-->
                        <!--</div>-->

                    <!--</div>-->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><%= t["motion"] %></h3>
                        </div>

                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <!-- <div class="col-xs-5 panel panel-default">
                                        <div class="panel-body">

                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["perch"] %></label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["inside"] %></label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-5 col-xs-offset-2 panel panel-default">
                                        <div class="panel-body">
                                            <div class="radio">
                                              <label><input type="radio" name="high_low"><%= t["high"] %></label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="high_low"><%= t["low"] %></label>
                                            </div>

                                        </div>
                                    </div> -->

                                    <!-- move button -->
                                    <div class="col-xs-3">
                                      <button type="button" class="btn btn-default" id="move" action="/"><%= t["move"] %></button>
                                    </div>
                                    <!-- station index -->
                                    <div class="col-xs-3">
                                      <div class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="stationMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                              <%= t["station"] %>
                                              <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="stationMenu">
                                              <li><a value="stn1">Station1</a></li>
                                              <li><a value="stn2">Station2</a></li>
                                              <li><a value="stn3">Station3</a></li>
                                              <li><a value="stn4">Station4</a></li>
                                          </ul>
                                      </div>
                                    </div>
                                    <!-- perch -->
                                    <div class="col-xs-3">
                                      <div class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="poseMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                              <%= t["pose"] %>
                                              <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="poseMenu">
                                              <li><a value="perch"><%= t["perch"] %></a></li>
                                              <li><a value="inside"><%= t["inside"] %></a></li>
                                          </ul>
                                      </div>
                                    </div>
                                    <!-- <div class="col-xs-3 panel panel-default">
                                        <div class="panel-body">

                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["perch"] %></label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["inside"] %></label>
                                            </div>

                                        </div>
                                    </div> -->

                                    <!-- high low -->
                                    <div class="col-xs-3">
                                      <div class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="highlowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                              <%= t["high-low"] %>
                                              <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="highlowMenu">
                                              <li><a value="high"><%= t["high"] %></a></li>
                                              <li><a value="low"><%= t["low"] %></a></li>
                                          </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                          <input type="checkbox" id="linearCheckbox"> <%= t["linear"] %>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">

                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="indexMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <%= t["index"] %>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="indexMenu">
                                            <li><a value="idx1">Index1</a></li>
                                            <li><a value="idx2">Index2</a></li>
                                            <li><a value="idx3">Index3</a></li>
                                            <li><a value="idx4">Index4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                  <button type="button" class="btn btn-default" id="pick"><%= t["pick"] %></button>
                                  <button type="button" class="btn btn-default" id="place"><%= t["place"] %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= t["message"] %></h3>
                    </div>
                    <div class="panel-body panel-body-sysmsg">
                        <div class="row">
                            <code name="sysmsg">
                            <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                                <%= sysmsg %>
                            <!--</textarea>-->
                            </code>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="cmd"><%= t["robot_command"] %></label>
                    <div class="input-group col-xs-8">
                        <input type="text" class="form-control" id="cmd" placeholder="<%= t["enter_command"] %>">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="go_btn"><%= t["go"] %></button>
                        <button id="robotHelpModal" class="btn btn-default" type="button">
                        <i class="fa fa-question"></i>
                        </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>


<!-- Robot Help Modal -->

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <iframe id="myIframe" src="" style="zoom:0.60" frameborder="0" height="500" width="99.6%"></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- /.container-fluid -->
