<% var t = window.I18N[window.currentLang]["robotView"] %>
<div class="container-fluid" style="padding-right:90px; margin-top:40px;">
  <h3 class="page-header"><%= t["robot_title"] %></h3>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6" style="padding-right:5px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= t["position"] %></h3>
            </div>
            <div class="panel-body" style="height:auto;padding:10px;">
              <!-- <div class="row"> -->
                <div class="col-xs-6" style="padding:0 5px 0 0;">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="form-group" style="margin:auto;">
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="learn"><%= t["learn"] %></button><br>
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="learn_new"><%= t["learn_new"] %></button>
                      </div>
                    </div>
                  </div>
                <!-- </div>
                <div class="col-xs-3"> -->
                  <div class="panel panel-default" style="margin:0px">
                    <div class="panel-body">
                      <div class="form-group" style="margin:auto;">
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="refresh"><%= t["refresh"] %></button><br>
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="reset_f_12"><%= t["reset_f_12"] %></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6" style="padding:0 0 0 5px;">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="form-group" style="margin:auto;">
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="grip"><%= t["grip"] %></button><br>
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="ungrip"><%= t["ungrip"] %></button>
                      </div>
                    </div>
                  </div>
                  <!-- </div>
                  <div class="col-xs-3"> -->
                  <div class="panel panel-default" style="margin:0px">
                    <div class="panel-body">
                      <div class="form-group" style="margin:auto;">
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="vacon">vacon</button><br>
                        <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="vacoff">vacoff</button>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= t["motion"] %></h3>
            </div>
            <div class="panel-body" style="padding:10px;">
              <div class="col-xs-6" style="padding:0 5px 0 0;">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="form-group" style="margin:auto;">
                      <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="pick"><%= t["pick"] %></button><br>
                      <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="place"><%= t["place"] %></button><br>
                      <button type="button" class="btn btn-default /*btn-lg*/ btn-block h-spacer" id="move" action="/"><%= t["move"] %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6" style="padding:0 0 0 5px;">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="form-group" style="margin:auto;">
                      <!-- station index -->
                      <div class="dropdown">
                        <button class="btn btn-default /*btn-lg*/ btn-block dropdown-toggle" type="button" id="stationMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <%= t["station"] %>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="stationMenu">
                          <!-- <li><a value="stn1">Station1</a></li>
                          <li><a value="stn2">Station2</a></li>
                          <li><a value="stn3">Station3</a></li>
                          <li><a value="stn4">Station4</a></li> -->
                          <% var types = ['input','output']; %>
                          <% var type = types.shift(); %>
                          <% while (type) { %>
                          <% var inputs = window.iniCfg[type] %>
                          <% if (inputs) { %>
                          <% var keys = _.keys(inputs); %>
                          <% var type = 'input'; %>
                          <%  for (var i=0; i < keys.length; i++) { %>
                          <li><a value="<%= inputs[keys[i]] %>"><%= inputs[keys[i]] %></a></li>
                          <% } %>
                          <% } %>
                          <% type = types.shift(); %>
                          <% } %>
                        </ul>
                      </div><br>
                      <div class="dropdown">
                        <button class="btn btn-default /*btn-lg*/ btn-block dropdown-toggle" type="button" id="indexMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <%= t["index"] %>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="indexMenu">
                          <% for (var i=1; i <= 25; i++) { %>
                          <li><a value="idx<%= i %>">Index<%= i%></a></li>
                          <% } %>
                        </ul>
                      </div><br>
                      <!-- pose -->
                      <div class="dropdown">
                        <button class="btn btn-default /*btn-lg*/ btn-block dropdown-toggle" type="button" id="poseMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <%= t["pose"] %>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="poseMenu">
                          <li><a value="perch"><%= t["perch"] %></a></li>
                          <li><a value="inside"><%= t["inside"] %></a></li>
                        </ul>
                      </div><br>
                      <!-- high low -->
                      <div class="dropdown">
                        <button class="btn btn-default /*btn-lg*/ btn-block dropdown-toggle" type="button" id="highlowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <!-- <%= t["high-low"] %> -->
                          <%= t["high"] %>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="highlowMenu">
                          <li><a value="high"><%= t["high"] %></a></li>
                          <li><a value="low"><%= t["low"] %></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="linearCheckbox"> <%= t["linear"] %>
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="indexMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <%= t["index"] %>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="indexMenu">
                          <% for (var i=1; i <= 25; i++) { %>
                            <li><a value="idx<%= i %>">Index<%= i%></a></li>
                          <% } %>
                        </ul>
                    </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7" style="padding-right:5px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= t["robot_message"] %></h3>
        </div>
        <div class="panel-body panel-body-sysmsg" style="background-color:black;height:200px;">
          <div class="row" style="padding-left: 10px;">
            <code name="robotmsg" style="background-color:black; padding-left: 0px;">
              <!--<textarea class="form-control form-control-syxssg" name="syxssg" rows="10" readonly>-->
              <%= robotmsg %>
              <!--</textarea>-->
            </code>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-danger" id="robotCmd" name="rc1" value="reset">RESET</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="robotCmd" name="rc2" value="rcp">RCP</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="robotCmd" name="rc3" value="getstations"><span style="font-size:80%">GETSTATIONS</span></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="robotCmd" name="rc4" value="lcm">LCM</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="robotCmd" name="rc5" value="sim">SIM</button>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:0px;padding:8px 0; background-color: #f5f5f5;">
          <!-- <form class="form-horizontal" role="form"> -->
          <!-- <div class="form-group"> -->
          <!-- <label class="control-label col-xs-2" for="cmd"><%= t["robot_command"] %></label> -->
          <div class="input-group col-xs-offset-2 col-xs-8">
            <input type="text" class="form-control" id="cmd" placeholder="<%= t["enter_command"] %>">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="go_btn"><%= t["go"] %></button>
              <!-- <i class="fa fa-question"></i> -->
            <!-- </button> -->
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5" style="padding-right:5px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SCRIPT<b> : </b><span id="script-name">Script name</span></h3>
        </div>
        <div class="panel-body panel-body-sysmsg" style="height:250px">
          <div class="row">
            <table class="table table-condensed table-bordered" style="width:100%;margin:auto;table-layout:fixed;">
              <thead>
                <tr>
                  <th width="7%">#</th>
                  <th width="20%">TYPE</th>
                  <th width="58%">COMMAND</th>
                  <th width="15%">GOTO</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0; i < 50; i++) { %>
                <tr id="scriptline">
                  <th scope="row"><%= i+1 %></th>
                  <td contenteditable='true' id=""></td>
                  <td contenteditable='true' id=""></td>
                  <td contenteditable='true' id=""></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-body" style="padding:0;">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="script_btn" value="select"><u style="font-size:80%">Select script</u></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="script_btn" value="load">LOAD</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="script_btn" value="start">START</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="script_btn" value="stop">STOP</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container-fluid -->