<% var t = window.I18N[window.currentLang]["robotView"] %>

<div class="container-fluid">

    <!-- Page Heading -->
    <!--
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">
                <%= t["robot_title"] %>
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= t["recipe"] %></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="recipe"><%= t["selected_recipe"] %></label>
                                            <div class="input-group col-md-8">
                                                <input type="text" class="form-control" id="recipe"
                                                                                        placeholder="<%= t["select_a_recipe"] %>" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">Load</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">&nbsp;</label>
                                            <div class="input-group">
                                                <button class="btn btn-primary h-spacer"><%= t["start"] %></button>
                                                <button class="btn btn-primary"><%= t["stop"] %></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->


    <div class="row">
        <div class="container-fluid">
            <div class="row">
              <h3 class="page-header"><%= t["robot_title"] %></h3>

                <div class="col-md-6">

                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="<%= t["search_for"] %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><%= t["go"] %></button>
        </span>

        <span class="input-group-btn">
          <button id="robotHelpModal" class="btn btn-default" type="button">
                    <i class="fa fa-question"></i>
          </button>
        </span>
                    </div><!-- /input-group -->

                    <br>

                    <select name="sometext" class="form-control" size="20">
                      <option><%= t["text"] %>01</option>
                      <option><%= t["text"] %>02</option>
                      <option><%= t["text"] %>03</option>
                      <option><%= t["text"] %>04</option>
                      <option><%= t["text"] %>05</option>
                      <option><%= t["text"] %>06</option>
                      <option><%= t["text"] %>07</option>
                      <option><%= t["text"] %>08</option>
                      <option><%= t["text"] %>09</option>
                      <option><%= t["text"] %>10</option>
                      <option><%= t["text"] %>11</option>
                      <option><%= t["text"] %>12</option>
                      <option><%= t["text"] %>13</option>
                      <option><%= t["text"] %>14</option>
                      <option><%= t["text"] %>15</option>
                      <option><%= t["text"] %>16</option>
                      <option><%= t["text"] %>17</option>
                      <option><%= t["text"] %>18</option>
                      <option><%= t["text"] %>19</option>
                      <option><%= t["text"] %>20</option>
                      <option><%= t["text"] %>21</option>
                      <option><%= t["text"] %>22</option>
                      <option><%= t["text"] %>23</option>
                      <option><%= t["text"] %>24</option>
                      <option><%= t["text"] %>25</option>
                      <option><%= t["text"] %>26</option>
                      <option><%= t["text"] %>27</option>
                      <option><%= t["text"] %>28</option>
                      <option><%= t["text"] %>29</option>
                      <option><%= t["text"] %>30</option>
                    </select>

                    <br>


                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <button type="button" class="btn btn-default"><%= t["refresh"] %></button>
                              <button type="button" class="btn btn-default"><%= t["reset_f_12"] %></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                              <button type="button" class="btn btn-default"><%= t["grip"] %></button>
                              <button type="button" class="btn btn-default"><%= t["ungrip"] %></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><%= t["position"] %></h3>
                        </div>

                        <div class="panel-body">
                          <button type="button" class="btn btn-default"><%= t["learn"] %></button>
                          <button type="button" class="btn btn-default"><%= t["learn_new"] %></button>
                        </div>

                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><%= t["motion"] %></h3>
                        </div>

                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["perch"] %></label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="perch_inside"><%= t["inside"] %></label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="radio">
                                              <label><input type="radio" name="high_low"><%= t["high"] %></label>
                                            </div>
                                            <div class="radio">
                                              <label><input type="radio" name="high_low"><%= t["low"] %></label>
                                            </div>

                                        </div>
                                    </div>


                                    <button type="button" class="btn btn-default"><%= t["move"] %></button>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                          <input type="checkbox"> <%= t["linear"] %>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <%= t["index"] %>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                  <button type="button" class="btn btn-default"><%= t["pick"] %></button>
                                  <button type="button" class="btn btn-default"><%= t["place"] %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= t["message"] %></h3>
                    </div>
                    <div class="panel-body panel-body-sysmsg">
                        <div class="row">
                            <code name="sysmsg">
                            <!--<textarea class="form-control form-control-sysmsg" name="sysmsg" rows="10" readonly>-->
                                <%= sysmsg %>
                            <!--</textarea>-->
                            </code>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-2" for="cmd"><%= t["robot_command"] %></label>
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control" id="cmd" placeholder="<%= t["enter_command"] %>">
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>


<!-- Robot Help Modal -->

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <iframe id="myIframe" src="" style="zoom:0.60" frameborder="0" height="500" width="99.6%"></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- /.container-fluid -->
