<% var t = window.I18N[window.currentLang]["transferView"] %>
<div class="container-fluid" style="padding-right:90px; margin-top:40px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <h3 class="page-header"><%= t["transfer"]%></h3>
                </div>
                <div class="col-xs-4" data-toggle="buttons" style="text-align:left; top:17px;">
                    <label class="btn btn-default col-xs-6 /*btn-lg*/ active" style="border:none;">
                        <input type="radio" id="quicksortRadio" name="txmode" value="quicksort"><%= t["quick_sort"]%>
                    </label>
                    <label class="btn btn-default col-xs-6 /*btn-lg*/" style="border:none;">
                        <input type="radio" id="resequenceRadio" name="txmode" value="resequence"><%= t["resequence"]%>
                    </label>
                </div>
                <div class="col-xs-2">
                    <h3 class="page-header">&nbsp;</h3>
                </div>
                <div class="col-xs-2" style="text-align:left; top:17px;">
                    <button class="btn btn-default /*btn-lg*/ btn-block" id="go" type="button"><%= t["go"]%></button>
                </div>
            </div>
            <div class="panel" style="margin:0 0 0 -20px;" id="panel">
                <div class="panel-body" style="padding-bottom:0px;">
                    <div class="row">
                        <div class="form-group" style="margin-bottom:0px">
                            <div id="quicksortPanel" class="form-group" style="margin-bottom:0px">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table style="width:100%;"><tr>
                                            <% var types = ['input','output']; %>
                                            <% var type = types.shift(); %>
                                            <% while (type) { %>
                                            <% var inputs = window.iniCfg[type] %>
                                            <% if (inputs) { %>
                                            <% var keys = _.keys(inputs); %>
                                            <% var type = 'input'; %>
                                            <!--  <% var tableoffset = Math.floor((12-4)/keys.length); %> -->
                                            <%  for (var i=0; i < keys.length; i++) { %>
                                            <td id="<%= inputs[keys[i]] %>" style="padding-left:5px; padding-right:5px; text-align:center">
                                                <table class="table table-condensed wafer-slots">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">#</th>
                                                            <th><%= inputs[keys[i]] %></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="slots" class="stn<%=i+1%>">
                                                        <% for (var j=25; j > 0; j--) { %>
                                                        <tr>
                                                            <th scope="row" style="padding:1px 5px 1px 5px"><%= j %></th>
                                                            <% if (i%2 === 0) { %>
                                                                <td id="slot<%= j %>" style="padding:1px 5px 1px 5px"></td>
                                                            <%} else {%>
                                                            
                                                            <td id="slot<%= j %>" class="warning"style="padding:1px 5px 1px 5px"><%= i+j%></td>
                                                            <% } %>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <% } %>
                                            <% } %>
                                            <% type = types.shift(); %>
                                            <% } %>
                                        </tr></table>
                                    </div>
                                </div>
                                <div class=" panel row" id="sideBtnPanel" style="float:right;width:90px;margin-top:-500px; right:20px;position:fixed; padding-top:10px">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="btn-group btn-block">
                                                    <button class="btn btn-default /*btn-lg*/ btn-block" id="updateInventoryBtn" type="button"><span style="font-size:1vw"><%= t["update"]%></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="panel row" style="width:390px;padding-left:5px;margin-left:0px;border:1px solid black;"id="slide-panel">
                                        <div class="col-xs-4" style="padding:0px">
                                            <span>Seletion</span>
                                            <div class="checkbox">
                                                <label>
                                                    <input class="chk-lg" type="checkbox" id="singleCheckbox" for="selection" checked>Single
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input class="chk-lg" type="checkbox" id="groupCheckbox" for="selection">Group
                                                </label>
                                            </div>
                                            <span>Move +
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="ocrCheckbox" for="move">OCR
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="alignCheckbox" for="move"><%= t["align"]%>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="flipCheckbox" for="move"><%= t["flip"]%>
                                                    </label>
                                                </div>
                                            </span>
                                            <span id="show-slide-panel" style="cursor:pointer;">More >></span>
                                        </div>
                                        <div class="col-xs-4" style="padding:0px">
                                            <span>Only
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg onlyCheckbox" type="checkbox" for="ocr">OCR
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg onlyCheckbox" type="checkbox" for="align"><%= t["align"]%>
                                                    </label>
                                                </span>
                                            </div>
                                            <span>Order
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="revCheckbox" for="order">Reverse
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="sorCheckbox" for="order">Same Order
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="chk-lg" type="checkbox" id="sslCheckbox" for="order">Same Slot
                                                    </label>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="col-xs-4" style="padding:0px">
                                            something more
                                        </div>
                                    </div>
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="btn-group btn-block">
                                                    <button class="btn btn-default /*btn-lg*/ btn-block" id="removelastBtn" type="button"><%= t["remove_last"]%></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="btn-group btn-block">
                                                    <!-- <button class="btn btn-default /*btn-lg*/ btn-block" id="executeBtn" type="button"><%= t["execute"]%></button> -->
                                                    <button class="btn btn-default /*btn-lg*/ btn-block" id="currentRecipeBtn" type="button"style="white-space:normal">Show recipe</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div style="display:none;"><!-- submit btn / start btn / finish btn (hidden)-->
                                        <!-- <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="btn-group btn-block">
                                                        <button class="btn btn-default /*btn-lg*/ btn-block" id="selectStationBtn" type="button"style="white-space:normal">Stations</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="btn-group btn-block">
                                                        <button class="btn btn-default /*btn-lg*/ btn-block" id="submitBtn" type="button"><%= t["submit"]%></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="resequencePanel" class="panel form-horizontal" style="padding-bottom:10px; display:none;">
                                <div class="form-group input-lg" style="margin-top:10px;">
                                    <label class="control-label col-sm-2"><%= t["sort_order"]%></label>
                                    <!-- <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" id="sortASC" name="sortOrder" checked>Ascending</label>
                                        <label class="radio-inline"><input type="radio" id="sortDEC" name="sortOrder">Descending</label>
                                    </div> -->
                                    <div class="col-xs-6">
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                                            <label class="btn btn-default /*btn-lg active"  id="sortASC" name="sortOrder">
                                                <input type="radio" name="type"><%= t["ascending"]%>
                                            </label>
                                            <label class="btn btn-default /*btn-lg" id="sortDEC" name="sortOrder">
                                                <input type="radio" name="type"><%= t["descending"]%>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group input-lg">
                                    <label for="idMask" class="control-label col-sm-2"><%= t["id_mask"]%></label>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control input-lg" id="idMask" name="idMask">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group input-lg">
                                    <label for="reqSrcStation" class="control-label col-sm-2"><%= t["source_station"]%></label>
                                    <div class="col-xs-3">
                                        <select class="form-control input-lg" id="reqSrcStation">
                                            <% var types = ['input','output']; %>
                                            <% var type = types.shift(); %>
                                            <% while (type) { %>
                                            <% var inputs = window.iniCfg[type] %>
                                            <% if (inputs) { %>
                                            <% var keys = _.keys(inputs); %>
                                            <% var type = 'input'; %>
                                            <%  for (var i=0; i < keys.length; i++) { %>
                                            <option value="<%=i%>"><%= inputs[keys[i]] %></option>
                                            <% } %>
                                            <% } %>
                                            <% type = types.shift(); %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group input-lg">
                                    <label for="reqTargetStation" class="control-label col-sm-2"><%= t["target_station"]%></label>
                                    <div class="col-xs-3">
                                        <select class="form-control input-lg" id="reqTargetStation">
                                            <% var types = ['input','output']; %>
                                            <% var type = types.shift(); %>
                                            <% while (type) { %>
                                            <% var inputs = window.iniCfg[type] %>
                                            <% if (inputs) { %>
                                            <% var keys = _.keys(inputs); %>
                                            <% var type = 'input'; %>
                                            <%  for (var i=0; i < keys.length; i++) { %>
                                            <option value="<%=i%>"><%= inputs[keys[i]] %></option>
                                            <% } %>
                                            <% } %>
                                            <% type = types.shift(); %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Current Recipe Modal -->
<div id="currentRecipeModal" class="modal fade">
    <div class="modal-dialog" style="margin-top:15px">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px 15px 5px 15px">
                <button type="button" class="close /*btn-lg*/" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                <h4 class="modal-title"><%= t["current_recipe"]%>Current recipe</h4>
            </div>
            <div class="modal-body" style="padding:0px 15px 0px 15px">

                <table class="table table-condensed wafer-slots" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th><%= t["recipe"]%></th>
                        </tr>
                    </thead>
                    <tbody id="recipes">
                        <% for (var i=25; i > 0; i--) { %>
                        <tr>
                            <th scope="row" style="padding:2px 5px 2px 5px"><%= i %></th>
                            <td id="recipe<%= i %>" style="padding:2px 5px 2px 5px"></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" style="padding:5px 15px 5px 15px">
                <button type="button" class="btn btn-primary /*btn-lg*/" data-dismiss="modal">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Station Select Modal -->
<div id="stationSelectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close /*btn-lg*/" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                <h4 class="modal-title"><%= t["station_select"]%>Please select stations.</h4>
            </div>
            <div class="modal-body">

            <!-- <div class="col-xs-7" id="quicksortPanel">
                <div class="btn-group btn-group-justified" data-toggle="button">
                    <% var types = ['input','output']; %>
                    <% var type = types.shift(); %>
                    <% while (type) { %>
                    <% var inputs = window.iniCfg[type] %>
                    <% if (inputs) { %>
                    <% var keys = _.keys(inputs); %>
                    <% var type = 'input'; %>
                    <% var tableoffset = Math.floor((12-4)/keys.length); %>
                    <%  for (var i=0; i < keys.length; i++) { %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default /*btn-lg*/ active" id="onoff" value="<%= inputs[keys[i]] %>"><%= inputs[keys[i]] %></button>
                    </div>
                    <% } %>
                    <% } %>
                    <% type = types.shift(); %>
                    <% } %>
                </div>
            </div> -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary /*btn-lg*/" data-dismiss="modal">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="mousedown" style="position: fixed;display:none;">
    <i class="fa fa-coffee fa-2x"></i>
</div>